<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View 3: Error</title>
    </head>
    <body>
        <h1>Error</h1>
        <p>You didn't manage to book the movie due to some error</p>
        <br>
        <p>Please try again another time</p>
        <br>
        <p>You are underage to watch the movie</p>
        <a href="/listing">Back to Movie Listing</a>
    </body>
</html>